/* Margin&Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    background-color: white; /* Фон сторінки */
    min-height: 100vh; /* Мінімальна висота екрану */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Щоб хвиля була внизу */
    overflow: hidden; /* Забороняємо прокрутку */
}
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 10;
}

.login-container {
    max-width: 600px;
    background: white;
    position: relative;
    z-index: 10;
    margin-left: 780px;
    margin-top: 70px;
}

.register-container {
    max-width: 600px;
    background: white;
    position: relative;
    z-index: 10;
    margin-left: 780px;
    bottom: 50px;
}
/* Wave */
.wave {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: 1;
}
.btn-primary {
    background-color: #FF4500;
    border-color: #FF6347;
}

    .btn-primary:hover {
        background-color: #FF6347;
        border-color: #FF4500;
    }
.text-decoration-none {
    color: #FF4500;
}
.toggle-password-btn {
    position: absolute;
    top: 38px;
    right: 12px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 2px 6px;
    cursor: pointer;
    color: #888;
    z-index: 2;
    line-height: 1;
}

    .toggle-password-btn:active,
    .toggle-password-btn:focus {
        outline: none;
        box-shadow: none;
    }
@media (max-width: 768px) {
    .register-container, .login-container {
        max-width: 95vw;
        margin: 0 auto;
        margin-top: 30px;
        padding: 10px;
        bottom: 50px;
    }
    .wave {
        position: absolute;
        bottom: 30px;
    }
        body {
        overflow: hidden;
        align-items: center;
        height: 100vh;
    }
    .d-flex-center {
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }
}