.dictionary-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.btn-group {
    display: flex;
    gap: 10px; /* Відступ між кнопками */
}

.filters {
    display: flex;
    gap: 10px; /* Відступ між полями */
}

    .filters .form-control {
        width: 200px; /* Фіксована ширина для рівномірного вигляду */
    }

#createDictionaryModal .modal-dialog {
    max-width: 800px; /* Збільшення ширини модального вікна */
}

#createDictionaryModal .word-input input {
    width: 25%; /* Зменшення ширини полів Word та Translation */
    margin-right: 10px; /* Додавання відступу між полями */
}

    #createDictionaryModal .word-input input:last-child {
        margin-right: 0; /* Видалення відступу для останнього поля */
    }

#addWordButton {
    background-color: #FD7A45;
    border-color: #FD7A45;
}
