html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Когда сайдбар свернут — расширяем контент и календарь */
.content.expanded {
    margin-left: 80px; /* Тот же отступ, что и для контента */
}

/* Календарь по умолчанию */
/* Календарь по умолчанию отступает на ширину сайдбара */
.calendar {
    margin-left: 250px; /* ширина открытого сайдбара */
    transition: margin-left 0.3s ease; /* анимация для красоты */
}

    /* Когда сайдбар свернут — календарь сдвигается ближе */
    .calendar.expanded {
        margin-left: 80px; /* ширина свернутого сайдбара */
    }



